name: My Action
on: push
env:
  A: 10
jobs:
  build:
    name: My Action Job
    runs-on: ubuntu-latest
    env:
      B: 20
    steps:
      - name: Set the variables
        env:
          C: 30
        run: echo Hello
      - name: Check the variables
        env:
          D: 40
        run: |
          echo "A $A"
          echo "B $B"
          echo "C $C"
          echo "D $D"
      - name: Set variables explicitly
        run: echo "E=50" >> $GITHUB_ENV
      - name: Check the explicit variable
        run: |
          echo "E $E"
      - name: Check the variables again
        run: |
          echo "A $A"
          echo "B $B"
          echo "C $C"
          echo "D $D"
          echo "E $E"
      - name: Repo checkout
        uses: actions/checkout@v3
      - name: Generate a random number
        run: |
          N=$(python number.py)
          echo "Number is $N"
          if [ $N -gt 50 ]
          then
              echo "F=60" >> $GITHUB_ENV
          else
              echo "F=70" >> $GITHUB_ENV
          fi
      - name: Greater than 50
        if: ${{ env.F == 60 }}
        run: |
          echo "Number is greater than 50"
      - name: Less than 50
        if: ${{ env.F == 70 }}
        run: |
          echo "Number is less than 50"
